
.container{
    display: flex;
}
.grid{
    width: 200px;
    height: 400px;
    background-color: #39B5E0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid div {

    width: 20px;
    height:20px;
}

.tetrimino{
    background-color: #F5EA5A;
}

.mini-grid{
    margin: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #39B5E0;
}

.mini-grid div{
    width: 80px;
    height: 80px;
}