.grid{
    width: 200px;
    height: 400px;
    background-color: #39B5E0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid div {

    width: 20px;
    height:20px;
}
/* 
.taken{
    background-color: #F5EA5A;
} */

.tetrimino{
    background-color: #F5EA5A;
}